* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(133deg, rgb(216, 224, 197) 0%, rgb(92, 113, 111) 100%);
}

.wrap {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.wrap #restart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.container {
  width: 60vmin;
  height: 60vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.7rem;
}
.container .btn {
  background-color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  width: 17vmin;
  height: 17vmin;
  cursor: pointer;
  font-size: 5rem;
  color: #f87171;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.popup {
  background: linear-gradient(133deg, rgb(216, 224, 197) 0%, rgb(92, 113, 111) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  gap: 1rem;
  font-size: 5rem;
}
.popup.hide {
  display: none;
}
.popup #poptext {
  color: #ffffff;
}
.popup #new {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: #f87171;
  color: #ffffff;
  cursor: pointer;
}