@import '_vars';

.popup {
    background: $bg-gradient;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 1rem;
    font-size: 5rem;
    &.hide {
        display: none;
    }
    #poptext {
        color: $white;
    }
    #new {
        border: none;
        border-radius: 0.5rem;
        padding: 1rem;
        font-size: 1rem;
        background-color: $red-400;
        color: $white;
        cursor: pointer;
    }
}