@import '_vars';
@import '_keyframes';

.popup {
    background: $bg-gradient;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    gap: 1rem;
    font-size: 5rem;
    &.hide {
        display: none;
    }
    #poptext {
        color: $white;
    }
    #new {
        display: flex;
        align-items: center;
        overflow: hidden;
        gap: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        padding: 1rem;
        font-size: 1rem;
        background: $black;
        color: $white;
        cursor: pointer;

        .icon {
            transition: all 0.5s ease-in-out;
        }
    
        .text {
            font-weight: lighter;
            transition: all 0.5s ease-in-out;
        }

        &:hover .icon {
            transform: translate(45px);
        }

        &:hover .text {
            transform: translateX(120px);
        }

        &:active {
            transform: scale(0.9);
        }
    }
}