//colors 
$red-400: #f87171;
$cyan-400: #22d3ee;
$black: #000000;
$white: #ffffff;
$neutral-500: #737373;
$gray-600: #4b5563;

//gradient
$bg-gradient: linear-gradient(133deg, rgba(216,224,197,1) 0%, rgba(92,113,111,1) 100%);

//shadow
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
